<section class="header  header-shot 
     ">
  <div class="container-fluid imgyu"
    style="background-image: url(../../../assets/images/background/15.png); height: 246px; min-height: 246px; background-repeat: no-repeat; background-size: cover;">

  </div>


  <section class="main-page">
    <div class="container">
      <div class="row">
        <div class="container">
          <div class="row">
            <div class="block-content-white">
              <h1>
                GET STARTED
                <small>Welcome to Cryptofinancer</small>
              </h1>
              <div class="clearfix"></div>

              <div class="box-text">
                <div class="title"><span> Account registration</span></div>
                <p>
                  To make your first deposit and start earning, you have to be registered user on the website of
                  cryptonet.trade Mining Limited. You should have personal account using which you will be able to make
                  an investment in the cryptocurrency markets, get daily profits on an ongoing basis and withdraw then
                  as well as use affiliate link and agent's tools to increase your income. Registration process is quite
                  simple and fast enough. Just specify your personal details and Bitcoin address. It's free and doesn't
                  require any email confirmation or some your documents.
                </p>
                <div class="number">1</div>
              </div>
              <div class="clearfix"></div>
              <div class="box-text">
                <div class="title"><span> Making a deposit</span></div>
                <p>
                  Immediately after your registration finished you can start investing. Log into your account and click
                  "Make deposit". The system automatically selects investment plan so you only have to specify deposit
                  amount. Please note that the company only accepts Bitcoin and also pays Bitcoin as profit. Bitcoin
                  select and click "Spend" to start the process of sending payment for deposit. On page of confirmation
                  your deposit you will find unique Bitcoin address where you should send deposit amount. Copy this
                  address to clipboard. Then go you your Bitcoin wallet and send exact deposit amount.
                </p>
                <p>
                  Amount you sent will be credited in your account as deposit after 3 network confirmation. Note that
                  this is not instant process and usually takes about 30-60 minutes. Once your deposit is added you will
                  receive email notification.
                </p>
                <div class="number">2</div>
              </div>
              <div class="clearfix"></div>
              <div class="box-text">
                <div class="title"><span> Profits and withdrawals</span></div>
                <p>
                  Your profit is accrued every 24 hours - first one will appear next day after your deposit was added.
                  You have to remember that your deposit is never returned. Instead your investment will work on an
                  ongoing basis, i.e. forever. It means that once you make a deposit it will bring you profits every day
                  until the company operates.
                </p>
                <p>
                  After your earnings were accrued, use "Withdraw" function to make withdrawal request. Before that,
                  make sure you set correct Bitcoin address in your account settings. All payments are non-refundable
                  and if you make a mistake we can’t help you. Your withdrawal request will be processed automatically
                  and instantly.
                </p>
                <div class="number">3</div>
              </div>







            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


</section>
