<ul>
  <form>
    <div class="flex flex-col mb-8 relative mx-4"><svg stroke="currentColor" fill="none" stroke-width="2"
        viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round"
        class="absolute top-2 md:top-4 left-2 md:left-3 text-2xl text-gray-700" height="1em" width="1em"
        xmlns="http://www.w3.org/2000/svg">
        <circle cx="11" cy="11" r="8"></circle>
        <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
      </svg><input class="py-3 pr-2 md:py-4 md:pr-4 rounded-xs bg-gray-200 text-gray-900 outline-none pl-10 md:pl-12"
        name="search" placeholder="Search Investments..." value=""></div>
  </form>
  <div class="mx-4 overflow-x-auto">
    <ul class="flex mb-4 mt-1 mx-1">
      <li class="mr-3 last:mr-0 whitespace-no-wrap" routerLink="/dashboard/deposit"><button type="button"
          class="font-body px-4 rounded-t-sm rounded-br-sm  shadow-inner focus:shadow-inner"
          [class.bg-invest]="currentUrl == '/dashboard/deposit'">All</button>
      </li>
      <li class="mr-3 last:mr-0 whitespace-no-wrap" routerLink="/dashboard/deposit/fx"><button type="button"
          class="font-body px-4 rounded-t-sm rounded-br-sm  shadow-inner focus:shadow-inner"
          [class.bg-invest]="currentUrl == '/dashboard/deposit/fx'">Fixed
          Income</button>
      </li>
      <li class="mr-3 last:mr-0 whitespace-no-wrap" routerLink="/dashboard/deposit/cryp"><button type="button"
          class="font-body px-4 rounded-t-sm rounded-br-sm  shadow-inner focus:shadow-inner"
          [class.bg-invest]="currentUrl == '/dashboard/deposit/cryp'">Crypto</button>
      </li>
      <li class="mr-3 last:mr-0 whitespace-no-wrap" routerLink="/dashboard/deposit/assets"><button type="button"
          class="font-body px-4 rounded-t-sm rounded-br-sm  shadow-inner focus:shadow-inner"
          [class.bg-invest]="currentUrl == '/dashboard/deposit/assets'">Assets</button>
      </li>
    </ul>
  </div>
  <div class="infinite-scroll-component__outerdiv">
    <div class="infinite-scroll-component " style="height: auto; overflow: auto;">
      <router-outlet></router-outlet>

      <div class="flex flex-col items-center justify-center flex-1">
        <div class="loader loader-undefined loader-active sc-bdVaJa jzSrlE mt-8 mb-4">
          <div class="loader-inner ball-beat">
            <div style="background-color: rgb(121, 19, 229);"></div>
            <div style="background-color: rgb(121, 19, 229);"></div>
            <div style="background-color: rgb(121, 19, 229);"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ul>
