<section class="header  header-shot 
     ">
  <div class="container-fluid imgyu"
    style="background-image: url(../../../assets/images/background/15.png); height: 246px; min-height: 246px; background-repeat: no-repeat; background-size: cover;">

  </div>


  <section class="main-page">

    <div class="block-content-white">
      <h1>
        ABOUT US
        <small>About companys</small>
      </h1>
      <br>
      <br>

      <p>
        With the advent of cryptocurrency many entrepreneurs have noticed that this is not only a convenient payment
        method but also great source of income in the area of online investment. Today, you can find dozens of tempting
        offers, but you should carefully consider each of them. First of all, pay attention to the legality of the
        company work as well as the previous experience and their history. A reliable partner that offers asset
        management services never hides anything. We sincerely hope that cryptofinancer Limited will become a
        partner in your life.
      </p>
      <p>
        The main activity of the company is professional software developing by experienced experts who were directly
        involved in the development and testing of most famous classical mining algorithms for mining. Their extensive
        knowledge and practical skills are a guarantee of success of cryptofinancer Limited.
      </p>
      <p>
        Since the summer of 2016, we offer high quality investment services. The company's profit is the result of close
        cooperation between the technical staff and traders to cryptocurrency exchange. We have our own technical base
        and Mining farm on the basis of high-end graphics cards and ASIC hardware which is gaining popularity in the
        sphere of Bitcoin mining through optimal power consumption and high performance. An investment strategy which we
        propose is clear enough and terms can be acceptable for all.
      </p>
      <p class="p-bold">
        Undoubtedly, the company of this level must be registered officially registered to meet all the criteria of
        investors. In July 2016 cryptofinancer Limited passed the incorporation process in the United Kingdom
        and is listed by Companies House:
      </p>
      <p>
        <span class="clearfix"></span>
        <br>
        <a href="https://beta.companieshouse.gov.uk/company/10269061" style="color:#153586;" target="_blank"
          class="a-link">
          <i class=" fa fa-link"></i>
          https://beta.companieshouse.gov.uk/company/10269061</a>

      </p>




    </div>
  </section>

</section>
