<!-- <ng-progress [color]="'blue'" style="z-index:1050px;"></ng-progress>
 -->
<ul>
  <li class="border-t first:border-t-0 hover:shadow-md" *ngFor="let plans of plan"><a
      class="flex flex-col md:flex-row py-6 px-4" href="/investify/explore/p/view_investment_INV31b6cf32894b51"><img
        [src]="plans.picture_url" alt="Rice Farm Investment"
        class="w-full md:w-4/12 h-48 md:mr-4 mb-4 md:mb-0  rounded-t rounded-br">
      <div class="flex flex-wrap mb-2 md:my-4"><span class="w-full mb-2 flex flex-col"><span
            class="font-display text-xl font-semibold text-gray-900 text-success">Invested in {{plans.plan}}</span><span
            class="font-body text-xs text-gray-600"><span class="font-display font-bold text-sm"
              style="color: rgb(7, 185, 141);">{{plans.per_incr}}%</span>
            returns in {{plans.date_diff}} days</span></span><span class="flex flex-col w-1/3"><span
            class="font-body text-lg text-invest">${{plans.current_amount}}</span><span
            class="font-body text-xs text-gray-600">Current Earn</span></span><span class="flex flex-col w-1/3"><span
            class="font-body text-lg text-gray-800">${{plans.amount}}</span><span
            class="font-body text-xs text-gray-600">Invested amount</span></span><span class="w-1/3"></span><span
          class="px-4 font-body text-sm rounded-full self-end mt-4 bg-primary"
          style="color: rgb(248, 248, 248);">Running</span>
        <span class="w-1/3"></span>

      </div>
    </a>
  </li>
</ul>
