<div class="nk-content nk-content-lg nk-content-fluid">
  <div class="container-xl ">
    <div class="nk-content-inner">
      <div class="nk-content-body" *ngFor="let inv of invest">
        <div class="nk-block-head">
          <div class="nk-block-head-content">
            <div class="nk-block-head-sub"><a routerLink="../../depoH" class="text-soft back-to"><em
                  class="icon fa fa-arrow-left"> </em><span>My Investment</span></a></div>
            <div class="nk-block-between-md g-4">
              <div class="nk-block-head-content">
                <h2 class="nk-block-title fw-normal" *ngIf="inv.plan ==1">{{inv.plan}} - 10-25% for 24hrs</h2>
                <h2 class="nk-block-title fw-normal" *ngIf="inv.plan ==2">{{inv.plan}} - 15-30% for 3 Days</h2>
                <h2 class="nk-block-title fw-normal" *ngIf="inv.plan ==3">{{inv.plan}} - 50% for 3 Days</h2>


                <div class="nk-block-des">
                  <p *ngIf="inv.status == 1" id="mini">INV-{{inv.deposite_id}} <span
                      class="badge badge-outline badge-primary">Running</span>
                  </p>
                  <p *ngIf="inv.status == 2  && inv.cashout == 0" id="mini">INV-{{inv.deposite_id}} <span
                      class="badge badge-outline badge-danger">Finished (not cashed)</span>
                    <p *ngIf="inv.cashout == 1 && inv.status == 2" id="mini">INV-{{inv.deposite_id}} <span
                        class="badge badge-outline badge-success">Cashed out</span></p>
                </div>
              </div>
              <div class="nk-block-head-content">
                <ul class="nk-block-tools gx-3">
                  <li *ngIf="inv.status == 1" class="order-md-last"><a href="#" class="btn btn-danger"><em
                        class="icon fa fa-crosshairs"></em>
                      <span>Cancel this plan</span>
                    </a></li>
                  <li *ngIf="inv.status == 2  && inv.cashout == 0" (click)="cashout(inv.deposite_id)"
                    class="order-md-last"><a href="#" class="btn btn-success"><em class="icon fa fa-crosshairs"></em>
                      <span>Cash out</span>
                    </a></li>
                  <li><a href="#" class="btn btn-icon btn-light"><em class="icon fa fa-reply"></em></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="nk-block">
          <div class="card card-bordered">
            <div class="card-inner">
              <div class="row gy-gs">
                <div class="col-md-6">
                  <div class="nk-iv-wg3">
                    <div class="nk-iv-wg3-group flex-lg-nowrap gx-4">
                      <div class="nk-iv-wg3-sub">
                        <div class="nk-iv-wg3-amount">
                          <div class="number">{{inv.amount}}</div>
                        </div>
                        <div class="nk-iv-wg3-subtitle">Invested Amount</div>
                      </div>
                      <div class="nk-iv-wg3-sub"><span class="nk-iv-wg3-plus text-soft"><em
                            class="icon fa fa-arrow-right"></em></span>
                        <div class="nk-iv-wg3-amount">
                          <div class="number">{{inv.current_amount}}<span
                              class=" text-success icon fa fa-arrow-up">{{inv.per_incr}}
                              %</span>
                          </div>
                        </div>
                        <div class="nk-iv-wg3-subtitle">Profit Earned</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-lg-4 offset-lg-2">
                  <div class="nk-iv-wg3 pl-md-3">
                    <div class="nk-iv-wg3-group flex-lg-nowrap gx-4">
                      <div class="nk-iv-wg3-sub">
                        <div class="nk-iv-wg3-amount">
                          <div class="number">{{inv.expected_roi}}<span
                              class="text-success icon fa fa-arrow-up">{{inv.per}}%<em class="icon fa fa-star-half-full"
                                data-toggle="tooltip" data-placement="right" title="tooltip text"></em></span></div>
                        </div>
                        <div class="nk-iv-wg3-subtitle">Total Return</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div id="schemeDetails" class="nk-iv-scheme-details">
              <ul class="nk-iv-wg3-list">
                <li>
                  <div class="sub-text">Term</div>
                  <div class="lead-text" *ngIf="inv.plan ==1">24 hrs</div>
                  <div class="lead-text" *ngIf="inv.plan ==2">3 Days</div>
                  <div class="lead-text" *ngIf="inv.plan ==3">3 Days</div>
                </li>
                <li>
                  <div class="sub-text"> Interest</div>
                  <div class="lead-text">{{inv.per_incr}}%</div>
                </li>
              </ul>
              <ul class="nk-iv-wg3-list">
                <li>
                  <div class="sub-text">Ordered date</div>
                  <div class="lead-text">{{inv.depositDate}}</div>
                </li>
                <li>
                  <div class="sub-text">Payment method</div>
                  <div class="lead-text">{{inv.pay_mode}}</div>
                </li>
              </ul>
              <ul class="nk-iv-wg3-list">
                <li>
                  <div class="sub-text">Captial invested</div>
                  <div class="lead-text"><span class="currency currency-usd">USD</span>
                    {{inv.amount}}</div>
                </li>
                <li>
                  <div class="sub-text">Net profit</div>
                  <div class="lead-text"><span class="currency currency-usd">USD</span>
                    {{inv.expected_roi}} - {{inv.amount}}</div>
                </li>
                <li>
                  <div class="sub-text">Total return</div>
                  <div class="lead-text"><span class="currency currency-usd">USD</span>
                    {{inv.expected_roi}}</div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
