<div class="nk-content nk-content-lg nk-content-fluid">
  <div class="container-xl ">
    <div class="nk-content-inner">
      <div class="nk-content-body">
        <div class="nk-block-head nk-block-head-lg">
          <div class="nk-block-head-content">
            <div class="nk-block-head-sub"><a routerLink="/dashboard" class="back-to"><em
                  class="icon fa fa-arrow-left"></em><span>Back to home</span></a></div>
            <div class="nk-block-head-content">
              <h2 class="nk-block-title fw-normal">Wallet Transfer</h2>
              <small class="back-to">Transfer money to your Dollar or Naira Wallet</small>
            </div>
          </div>
        </div>
        <div class="nk-block invest-block">
          <form #so="ngForm" class="invest-form">
            <div class="row g-gs">
              <div class="col-lg-7">
                <div class="invest-field form-group">
                  <label class="form-label">Choose Payment
                    Method</label>
                  <select ngModel name="options" id="mySelect" required class="form-control" style="height: 3.75rem;">
                    <option value="" selected disabled>
                      <div class="coin-item">
                        <div class="coin-icon"><em class="icon ni ni-offer-fill"></em></div>
                        <div class="coin-info"><span class="coin-name">
                            --Select</span><span class="coin-text"> An investment plan--</span></div>
                      </div>
                    </option>

                    <option value="1">
                      <div class="coin-item">
                        <div class="coin-icon"><em class="icon ni ni-offer-fill"></em></div>
                        <div class="coin-info"><span class="coin-name">
                            USD-NGN </span><span class="coin-text">(Transfer from Dollar to Naira)</span></div>
                      </div>
                    </option>
                    <option value="2">
                      <div class="coin-item">
                        <div class="coin-icon"><em class="icon ni ni-offer-fill"></em></div>
                        <div class="coin-info"><span class="coin-name">
                            NGN-USD </span><span class="coin-text">(Transfer from Naira to Dollar)</span></div>
                      </div>
                    </option>
                  </select>
                </div>

                <div class="invest-field form-group">
                  <div class="form-label-group"><label class="form-label">Enter Your
                      Amount</label>
                  </div>
                  <div class="form-control-group">
                    <div class="form-info">USD/NGN</div><input type="number" ngModel name="deposit"
                      class="form-control form-control-amount form-control-lg" id="custom-amount" value="30.00"
                      placeholder="30.00">
                    <div class="form-range-slider" id="amount-step"></div>
                  </div>
                  <div class="form-note pt-2">Note: Minimum invest is 30 USD and over 11,000
                    USD</div>
                </div>
                <div class="invest-field form-group">
                  <div class="nk-iv-wg4-sub text-center bg-lighter"><button href="#pay" type="submit"
                      [disabled]="!so.valid" class="btn btn-lg btn-primary ttu">Calculate</button></div>
                </div>

                <a href="#pay" id="pan" style="display: none;">Calculate</a>
              </div>


              <div class="col-xl-4 col-lg-5 offset-xl-1" id="pay">
                <div class="card card-bordered ml-lg-4 ml-xl-0">
                  <div class="nk-iv-wg4">
                    <div class="nk-iv-wg4-sub">
                      <h6 class="nk-iv-wg4-title title">Your Investment Details</h6>
                      <ul class="nk-iv-wg4-overview g-2">
                        <li>
                          <div class="sub-text">Name of scheme</div>
                          <div class="lead-text"></div>
                        </li>
                        <li>
                          <div class="sub-text">Duration of the scheme</div>
                          <div class="lead-text"> day (s)</div>
                        </li>
                        <!--  <li>
                              <div class="sub-text">Daily profit</div>
                              <div class="lead-text">$ 11.99</div>
                            </li>
                            <li>
                              <div class="sub-text">Daily profit %</div>
                              <div class="lead-text">4.76 %</div>
                            </li> -->
                        <li>
                          <div class="sub-text">Total net profit</div>
                          <div class="lead-text">$</div>
                        </li>
                        <li>
                          <div class="sub-text">Total Return</div>
                          <div class="lead-text">$</div>
                        </li>
                      </ul>
                    </div>
                    <div class="nk-iv-wg4-sub">
                      <ul class="nk-iv-wg4-list">
                        <li>
                          <div class="sub-text">Payment Method</div>
                          <div class="lead-text"></div>
                        </li>
                      </ul>
                    </div>
                    <div class="nk-iv-wg4-sub">
                      <ul class="nk-iv-wg4-list">
                        <li>
                          <div class="lead-text">Total Charge</div>
                          <div class="caption-text text-primary">$</div>
                        </li>
                      </ul>
                    </div>
                    <div class="nk-iv-wg4-sub text-center bg-lighter"><button class="btn btn-lg btn-primary ttu">Confirm
                        &amp;
                        proceed</button></div>

                    <button id="mod" style="display: none;" data-toggle="modal" data-target="#invest-plan"></button>
                  </div>

                  <div class="modal fade" tabindex="-1" id="invest-plan">
                    <div class="modal-dialog modal-dialog-centered modal-md">
                      <div class="modal-content"><a href="#" class="close" data-dismiss="modal"><em
                            class="icon fa fa-hand-pointer-o"></em></a>
                        <div class="modal-body modal-body-lg text-center">
                          <div class="nk-modal"><em
                              class="nk-modal-icon icon icon-circle icon-circle-xxl fa fa-check-circle bg-success"></em>
                            <h4 class="nk-modal-title">Successfully Order!</h4>
                            <div class="nk-modal-text">
                              <p>To confirm your order, pay exactly<strong> ( BTC)</strong>
                                to the Address Below. </p>
                              <div class="nk-refwg-url">
                                <div class="form-control-wrap">
                                  <div class="form-clip clipboard-init" data-text="Copy Link"><em
                                      class="clipboard-icon icon fa fa-clipboard"></em> <span
                                      class="clipboard-text">Copy
                                      Address</span>
                                  </div>
                                  <input type="text" class="form-control copy-text" readonly id="refUr" value="">
                                </div>
                              </div>
                              <br> You can
                              check this investment
                              progress on your <a routerLink="../depoH">Deposit history</a>
                            </div>


                          </div>
                        </div>
                        <div class="modal-footer bg-lighter">
                          <div class="text-center w-100">
                            <p>Earn upto $25 for each friend your refer! <a routerLink="Affiliate">Invite friends</a>
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
