<div class="container-fluid f-d-main">
  <!-- <div class="first-deposit card">
    <div class="first-deposit-top">
      <h4>Your Refferals</h4>
      <p>This table provides a list of all investment deposits for this plan by you</p>
    </div>

    <div class="first-deposit-table">
      <div class="table-responsive">
        <table class="table table-striped">
          <tbody>
            <tr>
              <td>Refferals</td>
              <td></td>
            </tr>
            <tr>
              <td>Total refferal commision</td>
              <td></td>
            </tr>
          </tbody>
       </table>
      </div>
    </div>
  </div> -->



  <div class="row">
    <div class="col-sm-12">

      <div class="panel b-a shadow">
        <div class="row m-n">

          <div class="col-md-6 b-b">
            <div href="#" class="block padder-v hover">
              <span class="i-s i-s-2x pull-left m-r-sm">
                <i class="fa fa-circle i-s-base text-success-lt hover-rotate"></i>
                <i class="fa fa-user i-sm text-white"></i>
              </span>
              <span class="clear">
                <span class="h3 block m-t-xs text-success">{{refuser}}</span>
                <small class="text-muted text-u-c">Last Referral Username</small>
              </span>
            </div>
          </div>
          <div class="col-md-6 b-b b-r">
            <div href="#" class="block padder-v hover">
              <span class="i-s i-s-2x pull-left m-r-sm">
                <i class="fa fa-circle i-s-base text-danger hover-rotate"></i>
                <i class="fa fa-plus i-1x text-white"></i>
              </span>
              <span class="clear">
                <span class="h3 block m-t-xs text-danger"></span>
                <small class="text-muted text-u-c">Package Purchased</small>
              </span>
            </div>
          </div>
          <div class="col-md-6 b-b b-r">
            <div href="#" class="block padder-v hover">
              <span class="i-s i-s-2x pull-left m-r-sm">
                <i class="fa fa-circle i-s-base text-info hover-rotate"></i>
                <i class="fa fa-map-pin i-sm text-white"></i>
              </span>
              <span class="clear">
                <span class="h3 block m-t-xs text-info">{{refloc}}<span class="text-sm"></span></span>
                <small class="text-muted text-u-c">location</small>
              </span>
            </div>
          </div>
          <div class="col-md-6 b-b">
            <div href="#" class="block padder-v hover">
              <span class="i-s i-s-2x pull-left m-r-sm">
                <i class="fa fa-circle i-s-base text-primary hover-rotate"></i>
                <i class="fa fa-map-pin i-sm text-white"></i>
              </span>
              <span class="clear">
                <span class="h3 block m-t-xs text-primary">{{refdate}}</span>
                <small class="text-muted text-u-c">Date</small>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-12">
      <section class="panel panel-default shadow">
        <div class="panel-body">
          <div class="nk-block">
            <div class="card card-bordered">
              <div class="nk-refwg">
                <div class="nk-refwg-invite card-inner">
                  <div class="nk-refwg-head g-3">
                    <div class="nk-refwg-title">
                      <h5 class="title">Refer Us & Earn</h5>
                      <div class="title-sub">Use the bellow link to invite your friends.
                      </div>
                    </div>
                    <div class="nk-refwg-action"><a href="#" class="btn btn-primary">Invite</a></div>
                  </div>
                  <div class="nk-refwg-url">
                    <div class="form-control-wrap">
                      <div class="form-clip clipboard-init" data-text="Copy Link" (click)="copy()"><em
                          class="clipboard-icon icon fa fa-clipboard"></em> <span class="clipboard-text">Copy
                          Link</span>
                      </div>
                      <div class="form-icon"><em class="icon fa fa-link"></em></div>
                      <input type="text" class="form-control copy-text" id="refUrl"
                        value="{{location}}/#/signup?ref={{username}}">
                    </div>
                  </div>
                </div>
                <div class="nk-refwg-stats card-inner bg-lighter">
                  <div class="nk-refwg-group g-3">
                    <div class="nk-refwg-name">
                      <h6 class="title">My Referral <em class="icon ni ni-info" data-toggle="tooltip"
                          data-placement="right" title="Referral Informations"></em></h6>
                    </div>
                    <div class="nk-refwg-info g-3">
                      <div class="nk-refwg-sub">
                        <div class="title">{{num}}</div>
                        <div class="sub-text">Total Joined</div>
                      </div>
                      <div class="nk-refwg-sub">
                        <div class="title">{{sum}}</div>
                        <div class="sub-text">Referral Earn</div>
                      </div>
                    </div>
                    <!-- <div class="nk-refwg-more dropdown mt-n1 mr-n1"><a href="#" class="btn btn-icon btn-trigger"
                        data-toggle="dropdown"><em class="icon ni ni-more-h"></em></a>
                      <div class="dropdown-menu dropdown-menu-xs dropdown-menu-right">
                        <ul class="link-list-plain sm">
                          <li><a href="#">7 days</a></li>
                          <li><a href="#">15 Days</a></li>
                          <li><a href="#">30 Days</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="nk-refwg-ck"><canvas class="chart-refer-stats" id="refBarChart"></canvas></div> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>



  </div>

</div>
