@import "../../../../assets/dashlite.css";

.f-d-main {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 30px;
  padding-top: 10px;

  /*  .first-deposit{
        color: #111;
        margin: 10px 0 15px;
        padding: 12px;
        margin-top: 10px;
        border: 0 solid rgba(120,130,140,.13);
        border-radius: 5px;
        -webkit-box-shadow: 0 5px 20px rgba(0,0,0,.05);
        box-shadow: 0 5px 20px rgba(0,0,0,.05);

    .first-deposit-top{
        padding-bottom: 30px;
    }

    


    } */
}

.b-a {
  border: 1px solid #eaeef1;
}
.m-n {
  margin: 0 !important;
}
.b-b {
  border-bottom: 1px solid #eaeef1;
}
.b-r {
  border-right: 1px solid #eaeef1;
}
.m-r-sm {
  margin-right: 10px;
}
.i-s-2x {
  width: 2em;
  height: 2em;
  font-size: 2em;
  line-height: 2em;
}
.i-s {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
.i-s-2x .i-s-base {
  font-size: 2em;
}
.fa {
  font-size: 0.75em;
}
.i-s > i {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
  line-height: inherit;
}
.hover-rotate {
  -webkit-transition: all 0.2s ease-in-out 0.1s;
  transition: all 0.2s ease-in-out 0.1s;
}
.text-success-lt {
  color: #1dc499;
}
.clear {
  display: block;
  overflow: hidden;
}
.m-t-xs {
  margin-top: 5px;
}
.block {
  display: block;
}
.text-success {
  color: #1aae88;
}
.text-u-c {
  text-transform: uppercase;
}
.text-muted {
  color: #a1a8ac;
}
.text-danger {
  color: #e33244;
}
small,
.small {
  font-size: 12px;
}
.i {
  display: inline-block;
  font-family: "icon";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: -5%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.panel {
  border-radius: 2px;
}

.panel.panel-default {
  border-color: #eaeef1;
}
.panel {
  border-radius: 2px;
}
.panel-default {
  border-color: #ddd;
}
.panel {
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.panel-body {
  padding: 15px;
}
.bg-info {
  background-color: #1ccacc;
  color: #bef5f6;
}
.panel-footer {
  border-color: #eaeef1;
  border-radius: 0 0 2px 2px;
  /* background-color: #f9fafc; */
}
.panel-footer {
  padding: 10px 15px;
  /* background-color: #f5f5f5; */
  border-top: 1px solid #ddd;
  /* border-bottom-right-radius: 3px; */
  /* border-bottom-left-radius: 3px; */
}
.pull-out {
  margin: -10px -15px;
}
.padder-v {
  padding-top: 15px;
  padding-bottom: 15px;
}

.m-b-xs {
  margin-bottom: 5px;
}
.block {
  display: block;
}
.text-white {
  /* color: #fff; */
  color: rgba(255, 255, 255, 0.8);
}
.bg-info .text-muted {
  color: #91eff0 !important;
}
.m-b-xs {
  margin-bottom: 5px;
}
.block {
  display: block;
}
.text-white {
  /* color: #fff; */
  color: rgba(255, 255, 255, 0.8);
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin: 0;
}
h3,
.h3 {
  font-size: 24px;
}
h1,
.h1,
h2,
.h2,
h3,
.h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.text-center {
  text-align: center;
}
.col-xs-6 {
  width: 50%;
}
.bg-info.dk,
.bg-info .dk {
  background-color: #16b6b8;
}
.panel-default .panel-heading {
  background-color: #f9fafc;
}
.panel-default > .panel-heading {
  color: #333;
  /* background-color: #f5f5f5; */
  /* border-color: #ddd; */
}
.panel-heading {
  border-radius: 2px 2px 0 0;
}
.panel-heading {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  /* border-top-left-radius: 3px; */
  /* border-top-right-radius: 3px; */
}
.panel > .list-group {
  margin-bottom: 0;
}
.list-group {
  border-radius: 2px;
}
.list-group {
  padding-left: 0;
  margin-bottom: 20px;
}
ul,
ol {
  margin-top: 0;
}
.list-group-item {
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid #ddd;
}
.panel > .list-group .list-group-item {
  border-width: 1px 0;
  border-radius: 0;
}
.panel .list-group-item {
  border-color: #f3f5f7;
}
