<!-- <ul>
  <li class="border-t first:border-t-0 hover:shadow-md"><a class="flex flex-col md:flex-row py-6 px-4"
      href="/investify/explore/p/view_investment_INV31b6cf32894b51"><img
        src="https://storage.googleapis.com/piggybankservice.appspot.com/investmentimgfiles/thumb.inv8b03da3f71.jpg"
        alt="Rice Farm Investment" class="w-full md:w-4/12 h-48 md:mr-4 mb-4 md:mb-0 object-cover rounded-t rounded-br">
      <div class="flex flex-wrap mb-2 md:my-4"><span class="w-full mb-2 flex flex-col"><span
            class="font-display text-xl font-semibold text-gray-900">Rice Farm
            Investment</span><span class="font-body text-xs text-gray-600"><span class="font-display font-bold text-sm"
              style="color: rgb(7, 185, 141);">14%</span>
            returns in 7 months</span></span><span class="flex flex-col w-1/3"><span
            class="font-body text-lg text-invest">₦5,000</span><span class="font-body text-xs text-gray-600">per farm
            share</span></span><span class="flex flex-col w-1/3"><span
            class="font-body text-lg text-gray-800">1218</span><span
            class="font-body text-xs text-gray-600">Investors</span></span><span class="w-1/3"></span><span
          class="px-4 font-body text-sm rounded-full self-end mt-4"
          style="color: rgb(248, 248, 248); background-color: rgb(14, 230, 100);">Available</span>
        <span class="w-1/3"></span><span class="px-4 font-body text-sm rounded-full self-end mt-4"
          style="color: rgb(179, 46, 88); background-color: rgb(243, 207, 218);">Sold Out</span>

      </div>
    </a>
  </li>
</ul> -->
<ul>
  <form>
    <div class="flex flex-col mb-8 relative mx-4"><svg stroke="currentColor" fill="none" stroke-width="2"
        viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round"
        class="absolute top-2 md:top-4 left-2 md:left-3 text-2xl text-gray-700" height="1em" width="1em"
        xmlns="http://www.w3.org/2000/svg">
        <circle cx="11" cy="11" r="8"></circle>
        <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
      </svg><input class="py-3 pr-2 md:py-4 md:pr-4 rounded-xs bg-gray-200 text-gray-900 outline-none pl-10 md:pl-12"
        name="search" placeholder="Search Investments..." value=""></div>
  </form>
  <!--   <div class="mx-4 overflow-x-auto">
    <ul class="flex mb-4 mt-1 mx-1">
      <li class="mr-3 last:mr-0 whitespace-no-wrap" routerLink="/dashboard/deposit"><button type="button"
          class="font-body px-4 rounded-t-sm rounded-br-sm bg-invest text-white shadow-inner focus:shadow-inner">All</button>
      </li>
      <li class="mr-3 last:mr-0 whitespace-no-wrap" routerLink="/dashboard/deposit/fixed"><button type="button"
          class="font-body px-4 rounded-t-sm rounded-br-sm border text-gray-800">Fixed
          Income</button>
      </li>
      <li class="mr-3 last:mr-0 whitespace-no-wrap" routerLink="/dashboard/deposit/crypto"><button type="button"
          class="font-body px-4 rounded-t-sm rounded-br-sm border text-gray-800">Crypto</button>
      </li>
      <li class="mr-3 last:mr-0 whitespace-no-wrap" routerLink="/dashboard/deposit/Assets"><button type="button"
          class="font-body px-4 rounded-t-sm rounded-br-sm border text-gray-800">Assets</button>
      </li>
    </ul>
  </div> -->
  <div class="infinite-scroll-component__outerdiv">
    <div class="infinite-scroll-component " style="height: auto; overflow: auto;">
      <router-outlet></router-outlet>

      <div class="flex flex-col items-center justify-center flex-1">
        <div class="loader loader-undefined loader-active sc-bdVaJa jzSrlE mt-8 mb-4">
          <div class="loader-inner ball-beat">
            <div style="background-color: rgb(121, 19, 229);"></div>
            <div style="background-color: rgb(121, 19, 229);"></div>
            <div style="background-color: rgb(121, 19, 229);"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ul>
