<div class="dashboard_body_container individual_body_container">
  <div class="dashboard_body">
    <div class="dashboard_individual_body_content" *ngFor="let item of data">
      <div class="individual_container">
        <div class="ivest_image">
          <img [src]="item.picture_url" class="img-fluid" alt="Investment option image">
        </div>
        <div class="invest_body_container">
          <div class="invest__title">
            <div class="invest__name">
              <h4>{{item.name}}</h4>
              <p class="location">Lagos State</p>
              <img src="https://crowdyvest.com/storage/images/logo_fc_color_1563899395.png" class="img-fluid"
                alt="Logo of investment option">


            </div>
            <div class="invest__amount">
              <h4>$<span id="invcal">{{item.stock_price}}</span></h4>
              <p class="inv_price">per stake</p>
              <div class="lead_way">
                <span>Insurance cover </span>
                <img src="https://crowdyvest.com/storage/images/LWA_1564489447.png" class="img-fluid"
                  alt="Insurance Provider Logo">
              </div>
            </div>
          </div>
          <div class="under_line"></div>

          <div class="invest__duration">
            <div class="_rates">
              <p class="_duration_title">Return</p>
              <p><span id="farmroi">{{item.roi}}</span>%</p>
            </div>
            <div class="_duration">
              <p class="_duration_title">Duration</p>
              <p>{{item.duration}} Days</p>
            </div>
          </div>
          <!-- progress bar starts -->
          <div class="progress__container">
            <div class="unit_progress_bg">
              <div class="progress_bar" style="--width: 20.725714285714%;"></div>
            </div>
            <span>21% Left</span>
          </div>
          <!-- progress bar ends -->
          <!-- <div class="counter_error" id="counter_error"></div> -->
          <form (ngSubmit)="cart(so)" #so="ngForm" class="invest__sponsor_btn ">
            <!-- <div class="lead_way border">
                          <span>Insurance cover</span>
                          <img src="images/logo/lead.png" class="img-fluid" alt="Leadway logo">
                      </div> -->
            <!-- <small style="color: red;"></small> -->
            <!-- <form method="POST" action="https://crowdyvest.com/cart"> -->
            <input type="hidden" name="_token" value="jq4b8NAKHZ8ob599v8j84sYT6TZ1nLZ1upYx0YXd">

            <div class="unit_nos">
              <div class="_adder_button">
                <input class="quantity ctnumber" min="1" max="7254" ngModel name="sponsorunit" id="hy" required
                  placeholder="1" (change)="hy()" type="number" p="20000" ul="7254">
              </div>
            </div>

            <div class="sponsor_btn">
              <div class="sponsor_btn">
                <input class="sponsors-link" type="submit" value="{{val}}  Buy stock">
              </div>
              <!-- <a href="#">Sponsor Now</a> -->

              <!-- <button class="follow-link followbtn" type="button" name="button" fid="13366"> Follow Farm</button> -->
            </div>
            <!-- </form> -->
          </form>
        </div>
      </div>

      <section class="faq_section">
        <div class="faq_header">
          <h3>Frequently Asked Questions</h3>
        </div>
        <div class="accordion" id="faq">
          <div class="card_container">
            <div class="" id="faq_1">
              <h2 class="">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#faq_collapse_1"
                  aria-expanded="true" aria-controls="faq_collapse_1">
                  How do I follow up on my sponsorship?
                </button>
              </h2>
            </div>

            <div id="faq_collapse_1" class="collapse" aria-labelledby="faq_1" data-parent="#faq">
              <div class="faq_answer">
                <p>When you sponsor a project through Crowdyvest, you get periodic updates in the form of written
                  reports, images and videos showing the progress being made at different stages of the project.</p>
              </div>
            </div>
          </div>
          <div class="card_container">
            <div class="" id="faq_2">
              <h2 class="">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                  data-target="#faq_collapse_2" aria-expanded="false" aria-controls="faq_collapse_2">
                  How do I get paid?
                </button>
              </h2>
            </div>
            <div id="faq_collapse_2" class="collapse" aria-labelledby="faq_2" data-parent="#faq">
              <div class="faq_answer">
                <p>Your initial sponsorship and returns will be paid at the end of the project cycle into the account
                  details on your profile. You can click on 'edit profile' on your dashboard to update your bank details
                  and other information.</p>
              </div>
            </div>
          </div>
          <div class="card_container">
            <div class="" id="faq_3">
              <h2 class="">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                  data-target="#faq_collapse_3" aria-expanded="false" aria-controls="faq_collapse_3">
                  Is it possible to terminate my sponsorship earlier than the agreed timeframe?
                </button>
              </h2>
            </div>
            <div id="faq_collapse_3" class="collapse" aria-labelledby="faq_3" data-parent="#faq">
              <div class="faq_answer">
                <p>Each of our projects have a fixed cycle which is communicated in the project description page before
                  you sponsor. Since projects have commenced, you will be unable to terminate your sponsorship before
                  the agreed timeframe. However, when you receive your payback at the end of the project cycle, you can
                  choose to sponsor another project, subject to availability.</p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
