<!-- <ng-progress [color]="'#4659E2'" [speed]="200" [thick]="true" [speed]="500" [trickleSpeed]="250"></ng-progress> -->
<section class="header  header-shot 
     ">
  <div class="container-fluid imgyu"
    style="background-image: url(../../../assets/images/background/15.png); height: 246px; min-height: 246px; background-repeat: no-repeat; background-size: cover;">

  </div>


  <section class="main-page">

    <div class="container">
      <div class="row">


        <div class="clearfix"></div>
        <div class="col-md-6">
          <h1 style="    top: -75px; left:65px;">
            Contacts
            <small>Support Form</small>
          </h1>
          <div class="clearfix"></div>
          <br>
          <br>

          <form method="post" name="mainform"><input type="hidden" name="form_id" value="15855059143928"><input
              type="hidden" name="form_token" value="c35656b89cb0250d71888643ffddca31">
            <input type="hidden" name="a" value="support">
            <input type="hidden" name="action" value="send">


            <div class="field">
              <label for=""><span>Your Name</span></label>
              <input type="text" name="name" value="" size="30" class="inpts">
            </div>


            <div class="field">
              <label for=""><span>Your Email</span></label>
              <input type="text" name="email" value="" size="30" class="inpts">
            </div>

            <div class="field">
              <label for=""><span>Message</span></label>
              <textarea name="message" class="inpts" cols="45" rows="4"></textarea>
            </div>


            <div class="none">
            </div>
            <input type="submit" value="Send" style="margin-top:15px;" class="sbmt">
          </form>
          <div class="clearfix"></div>
          <br>
          <br>
        </div>
        <div class="col-md-6">
          <div class="mapouter">
            <div class="gmap_canvas"><iframe width="600" height="500" id="gmap_canvas"
                src="https://maps.google.com/maps?q=1%20Quality%20Court%20City%20of%20London%20WC2A%201HR%2C%20UK&t=&z=13&ie=UTF8&iwloc=&output=embed"
                frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a
                href="https://www.whatismyip-address.com">my ip address</a></div>
            <style>
              .mapouter {
                position: relative;
                text-align: right;
                height: 500px;
                width: 600px;
              }

              .gmap_canvas {
                overflow: hidden;
                background: none !important;
                height: 500px;
                width: 600px;
              }

            </style>
          </div>
        </div>
      </div>
    </div>
  </section>

</section>
