<div>
  <header class="flex flex-col flex-shrink-0 w-full pt-6 px-6 md:pt-8 md:px-8">
    <h3 class="text-primary font-display mt-8 text-xl md:text-2xl font-bold">Fund wallet</h3>
    <p class="text-sm text-gray-600 font-body whitespace-pre-wrap mb-6">All payments are credited to your dollar wallet
    </p>
    <p class="text-sm text-gray-600 font-body whitespace-pre-wrap mb-6">2% transaction fee is incurred for every deposit
    </p>
  </header>
  <form class="flex-1 flex flex-col min-h-min-content my-8 overflow-y-auto mx-6 md:mx-10 mb-6 md:mb-10" #po="ngForm">
    <div class="flex flex-col mb-8 "><label class="text-xs leading-loose mb-1 text-gray-700 font-bold font-display"
        for="bigamount">Tap here &amp; enter ..
        (e.g $50)</label><input class="py-3 pr-2 md:py-4 md:pr-4 rounded-xs  text-gray-900 outline-none pl-3 md:pl-4"
        #juy id="hy" name="amount" placeholder="Tap here &amp; enter .. (e.g $50)" label="" [ngModel]="vall(po)"
        id="bigamount" type="text" ngModel required>
    </div>
    <div class="flex flex-col mb-8">
      <label class="text-xs leading-loose mb-1 text-gray-700 font-bold font-display" for="bigamount">Choose
        destination</label>
      <select class="py-3 pr-2 md:py-4 md:pr-4 rounded-xs  text-gray-900 outline-none pl-3 md:pl-4" name="destination"
        [ngModel]="des(po)" id="" required>
        <option value=" " disabled selected>__Select</option>
        <option value="naira">Naira</option>
        <option value="dollar">Dollar</option>
      </select>
    </div>
    <div class="flex flex-col mb-8 "><label class="text-xs leading-loose mb-1 text-gray-700 font-bold font-display"
        for="walletlist">Choose processor</label>
      <div class="sc-bwzfXH kDYvZQ rounded-sm  text-gray-900 outline-none css-2b097c-container" id="walletlist">
        <div class="mb-4  md:px-8 overflow-y-auto"><button (click)="fundWith(po)"
            class="flex flex-shrink-0 items-center rounded-t shadow relative rounded-br border p-4 mb-4 w-full"
            type="button"><img
              src="https://storage.googleapis.com/piggybankservice.appspot.com/statics/piggybank_guide.png " alt="left"
              class="rounded-full w-8 h-8 mr-4">
            <div class="flex flex-col mr-2 w-full">
              <p class="font-body text-xs text-left whitespace-pre-wrap">Fund with Cryptocurrency</p>
            </div>
            <div class="flex flex-col flex-1 self-start"></div>
          </button><button angular4-paystack [email]="'mezj972@gmail.com'" [amount]="val" [ref]="ref" [currency]="'NGN'"
            class='btn btn-primary' (close)="paymentCancel()" (callback)="paymentDone($event)"
            (paymentInit)="paymentInit()"
            class="flex flex-shrink-0 items-center  shadow relative rounded-t rounded-br border p-4 mb-4 w-full"
            type="button"><img
              src="  https://storage.googleapis.com/piggybankservice.appspot.com/statics/master_card_tiny.png"
              alt="left" class="rounded-full w-8 h-8 mr-4">
            <div class="flex flex-col mr-2 w-full">
              <p class="font-body text-xs text-left whitespace-pre-wrap">Fund with bank</p>
            </div>
            <div class="flex flex-col flex-1 self-start"></div>
          </button></div>
      </div>
    </div>
  </form>
</div>
