.main-page {
  padding: 30px 0;

  background: url(/assets/images/background/19.png) center bottom no-repeat,
    url(/assets/images/background/19.png) center center repeat, #fcfeff;
  background-size: 1300px auto, auto auto;
}

.main-page h1 {
  position: absolute;
  font-size: 22px;
  top: -105px;
  left: 88px;
}

.block-content-white {
  display: block;
  position: relative;
  padding: 0 57px 50px 53px;
}

.faq-listing {
  display: block;
}
.faq-listing > li {
  display: block;
  margin-bottom: 25px;
  position: relative;
  border: 1px solid rgba(21, 53, 134, 0.265);
  padding: 10px 25px;
  clear: both;
}
.faq-listing > li > a {
  display: inline-block;
  vertical-align: top;
  padding: 0 10px;
  font-family: "Geometria Medium";
  font-family: "Geometria Medium";
  color: rgb(21, 53, 134);
  font-size: 25px;
  height: 30px;
  text-decoration: none;
  line-height: 30px;
  // background: url("../images/greed1.png"), #fcfeff;

  margin-top: -25px;
}
.faq-listing > li p {
  padding: 10px 10px;
  font-size: large;
}
.faq-listing > li > a.a-link {
  margin-top: 10px;
  text-decoration: none;
}

.a-link {
  display: block;
  height: 40px;
  overflow: hidden;
  line-height: 40px;
  float: left;
  border: 1px solid rgba(7, 94, 132, 0.11);
  border-radius: 0px;
  border-bottom: 1px solid rgba(7, 94, 132, 0.27);
  color: rgb(21, 53, 134);
  padding: 0 25px 0 0;
  margin-top: 10px;
  text-decoration: none;
  margin-top: 0px;
  background: rgba(21, 53, 134, 0.115);
}

i.fa {
  height: 40px;
  width: 60px;
  display: block;
  float: left;
  font-size: 35px;
  //background: url(../images/icons/link.png) 5px center no-repeat;
  background-size: auto 25px;
  position: relative;
  overflow: hidden;
}
