<section class="header  header-shot 
     ">
  <div class="container-fluid imgyu"
    style="background-image: url(../../../assets/images/background/15.png); height: 246px; min-height: 246px; background-repeat: no-repeat; background-size: cover;">

  </div>


  <section class="main-page">
    <div class="container">
      <div class="row">

        <div class="block-content-white">
          <h1>
            FAQ
            <small>About company</small>
          </h1>
          <div class="clearfix"></div>
          <br>
          <ul class="faq-listing">
            <li>
              <a>What is cryptofinancer Limited?</a>
              <p>Cryptofinancer Limited is ready to propose profitable cooperation for all comers. We present a
                high-tech and modern company which is recognized industry leader in the field of computer technology,
                software and innovations. Our technical experts are involved in developing new methods and effective
                algorithms of Bitcoin mining.
              </p>
            </li>
            <li>
              <a>Is your company officially registered?</a>
              <p>
                Undoubtedly, the company of this level must be registered officially registered to meet all the criteria
                of investors. In July 2016 Cryptofinancer Limited passed the incorporation process in the United
                Kingdom and is listed by Companies House: <br>
                <a href="https://beta.companieshouse.gov.uk/company/10269061" target="_blank"
                  style="color:rgb(21, 53, 134);" class="a-link">
                  <i class="fa fa-link"></i>
                  https://beta.companieshouse.gov.uk/company/10269061</a>
                <span class="clearfix"></span>
              </p>
            </li>
            <li>
              <a>Where can I check your registration?</a>
              <p>In August 2016 Cryptofinancer Limited passed the incorporation process in the United Kingdom
                and is listed by Companies House:
                <a href="https://beta.companieshouse.gov.uk/company/10269061" target="_blank"
                  style="color:rgb(21, 53, 134);" class="a-link">
                  <i class="fa fa-link"></i>
                  https://beta.companieshouse.gov.uk/company/10269061</a>
                <span class="clearfix"></span>
              </p>
            </li>
            <li>
              <a>What is your physical address to visit your office?</a>
              <p>Find us during standard working hours at 9 White Lion Street, London N1 9PD, England.</p>
            </li>
            <li>
              <a>It is safe to invest here?</a>
              <p>Absolutely! You can rest easy, because the company is engaged in highly profitable business and safe
                activity that does not involve loss.</p>
            </li>
            <li>
              <a>Is it safe to invest here?</a>
              <p>Absolutely! We only provide risk zero service and your money will be returned in any case.</p>
            </li>
            <li>
              <a>How long do you plan to work?</a>
              <p>We plan our activities for the next few years. </p>
            </li>
            <li>
              <a>How safe is my personal data, which I send to this website?</a>
              <p>The site is on a dedicated server with round the clock protection against DDoS attacks, it is scanned
                daily for malware. In addition, all data is encrypted by SSL certificate.</p>
            </li>
            <li>
              <a>Who can join your investment company?</a>
              <p>Anyone can become our client. We offer international investment. </p>
            </li>
            <li>
              <a>How can I become an investor?</a>
              <p>To become a client you have to register account. Enter username, set password, add your email and
                Bitcoin address to make an account. </p>
            </li>
            <li>
              <a>When registering I have to enter Bitcoin account. What is it?</a>
              <p>
                A Bitcoin address is an identifier of 26-35 alphanumeric characters, beginning with the number 1 or 3
                that represents a possible destination for a bitcoin payment. There are currently two address formats in
                common use: with the number 1, eg: 1NtrMSEYstRtsqTFn5Au(G6GFg7xJaNVN2 or with the number 3, eg:
                34RtTy7pEZ73CNmQviecrnyiWrnqRhNraK.
              </p>
            </li>
            <li>
              <a>Where can I register Bitcoin address?</a>
              <p>Visit https://blockchain.info to register unique Bitcoin address.
                <span class="clearfix"></span>
                <a href="https://blockchain.info" target="_blank" style="color:rgb(21, 53, 134);" class="a-link">
                  <i class="fa fa-link"></i>
                  https://blockchain.info</a>
                <span class="clearfix"></span>
              </p>
              <p></p>
            </li>
            <li>
              <a>How many accounts can I register?</a>
              <p>We suggest to register only one account.</p>
            </li>
            <li>
              <a>Can I register a few accounts even from one IP address?</a>
              <p>Yes, in case these accounts belong your family members of your friends.</p>
            </li>
            <li>
              <a>What should I do if I didn’t set Bitcoin address during registration?</a>
              <p>Don’t worry, you can add or change your Bitcoin address anytime in account settings.</p>
            </li>
            <li>
              <a>I lost my password. What should I do?</a>
              <p>Check your username and password. Make sure that you enter the same data that you got via email after
                registration. If your attempts to sign in are still unsuccessful, use the password recovery function or
                contact our support service.</p>
            </li>
            <li>
              <a>What is your investment proposal?</a>
              <p>Depending on your deposit amount your daily profit will vary from 10% to 15%.</p>
            </li>
            <li>
              <a>Will I receive profit every calendar day?</a>
              <p>Yes, correct. Your profit is accrued every 24 hours, 7 days a week.</p>
            </li>
            <li>
              <a>Are you paying even on weekends?</a>
              <p>Yes, of course, we are paying on weekends and holidays.</p>
            </li>
            <li>
              <a>How long does my deposit work?</a>
              <p>Your deposit runs forever. This means that you will never get it back.</p>
            </li>
            <li>
              <a>What currency can I invest?</a>
              <p>We only accept Bitcoins. </p>
            </li>
            <li>
              <a>What is the minimum deposit?</a>
              <p>The minimum deposit is $10 and no maximum limit. If you don't know how to convert cryptocurrency in
                your local currency, please visit this website:<br>
                <a href="http://bitcoinexchangerate.org" target="_blank" style="color:rgb(21, 53, 134);" class="a-link">
                  <i class="fa fa-link"></i>
                  http://bitcoinexchangerate.org</a>
                <span class="clearfix"></span>
              </p>
            </li>
            <li>
              <a>How long my deposit is added?</a>
              <p>
                Your deposit will be added after 3 confirmations of network. This process takes from 1 to 2 hours. If
                you still don't know what Bitcoin confirmations are visit this site and read information here:<br>
                <a href="http://bitcoinsimplified.org/learn-more/confirmations" target="_blank"
                  style="color:rgb(21, 53, 134);" class="a-link">
                  <i class="fa fa-link"></i>
                  http://bitcoinsimplified.org/learn-more/confirmations</a>
                <span class="clearfix"></span>


              </p>
            </li>
            <li>
              <a>How can I check confirmations?</a>
              <p>Check a number of confirmations you can in your Bitcoin wallet (find transaction details) or on the
                website <a style="color:rgb(21, 53, 134);" target="_blank"
                  href="https://blockchain.info">https://blockchain.info</a> using in the search bar transaction Tx hash
                or address where you sent the deposit.</p>
            </li>
            <li>
              <a>When will I receive my first profit?</a>
              <p>Your first profit will be accrued after exactly 24 hours after the addition of your deposit. Time when
                your deposit was added is also the time of accrual of profits!</p>
            </li>
            <li>
              <a>How many deposits can I have?</a>
              <p>You can have as many deposits as you can.</p>
            </li>
            <li>
              <a>Can I get my deposit back?</a>
              <p>Your deposit is never returned. Instead you will get profit every day on an ongoing basis.</p>
            </li>
            <li>
              <a>When I can withdraw profit?</a>
              <p>
                Withdrawal of profit is possible when your balance is not less than $0.10 . To receive a profit you need
                to make a request in the "Withdraw" section of your account. This request will be processed immediately.


              </p>
            </li>
            <li>
              <a>How can I withdraw my profit and how much time does it take?</a>
              <p>To withdraw your profits go to the "Withdraw" section and make a payment request. Such requests are
                processed instantly but remember about features Bitcoin payments: your withdrawal can take some time.
              </p>
            </li>
            <li>
              <a>Is there any fee for regular withdrawals?</a>
              <p>We have no any fees. You will receive exactly same amount which you have requested. </p>
            </li>
            <li>
              <a>What the affiliate program here?</a>
              <p>Yes, each your referral brings you 5% reward from his deposit amount.</p>
            </li>
            <li>
              <a>What do I need to participate in the referral program?</a>
              <p>All you need is just to register an account and find unique affiliate. Share this link to attract new
                investors in our company to get extra money.</p>
            </li>
            <li>
              <a>Do I need to have an active deposit to earn referral commissions?</a>
              <p>Your own deposit is not required to attract investors and earn. Just register account and apply your
                referral link everywhere you can.</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>


</section>
