<div>
  <div class="home-hero-3">
    <div class="home-hero-img-wrapper-2"></div>
    <div class="hero-content-wrapper-12-17-19">
      <div class="hero-text-wrap">
        <h1 class="hero-heading-home">Financial data<br><span class="light">built for innovators</span></h1>
        <div class="green-break-new"></div>
        <p class="hero-paragraph">Data your way. Choose your access method and pay only for the data you need.</p>
        <div class="div-block-53"><a href="https://intrinio.com/signup"
            class="primary-button-new hero intrinio-hide w-button">Start For Free</a><a href="/?chat=Hello!"
            class="primary-button-new hero hollow new-large w-button">Talk to a Data Expert</a></div>
        <p class="small-text-hero-2">Ready to go? <a href="https://intrinio.com/signup" class="plaintext-link">Create a
            free account.</a><a href="https://intrinio.com/signup"></a></p>
      </div>
    </div>
  </div>
  <div class="divider-line-section">
    <div class="divider-line-wrap invert w-clearfix">
      <div class="line-divider-1 shorter"></div>
      <div class="line-divider-2"></div>
    </div>
  </div>
  <div class="home-card-neg-margin">
    <div class="content-container-1122">
      <div class="w-layout-grid grid-13"><a data-w-id="af77fb27-acd3-ee4f-de98-1d608ddc9399"
          href="https://intrinio.com/financial-data-marketplace" class="home-mktplace-wrapper w-inline-block"><img
            src="https://assets.website-files.com/5be49b31efe23f3c85cc6028/5ded7bee675ba8403d8394db_api_marketplace_icon_home.svg"
            alt="" class="marketplace-hero-icon">
          <h2 class="home-mktplace-heading">Financial Data Marketplace</h2>
          <div class="home-mktplace-description">Subscribe to real-time, intraday, EOD &amp; historical data</div>
          <div class="mktplace-card-divider"></div>
          <div class="mktplace-card-arrow">
            <div class="home-fin-data">Explore Financial Data</div><img
              src="https://assets.website-files.com/5be49b31efe23f3c85cc6028/5ded76145049676e7e1abece_green_blue_72C3F3.svg"
              alt="" class="home-fin-data-arrow">
          </div>
        </a><a data-w-id="af77fb27-acd3-ee4f-de98-1d608ddc93a4"
          href="https://product.intrinio.com/bulk-financial-data-downloads"
          class="home-mktplace-wrapper w-inline-block"><img
            src="https://assets.website-files.com/5dcda05af8a683ebc79e4c3f/5dceb4578763a1012ed8f20f_bulk_download_icon.svg"
            alt="" class="marketplace-hero-icon">
          <h2 class="home-mktplace-heading">Bulk Downloads Marketplace</h2>
          <div class="home-mktplace-description">Download clean historical data dating back 5 – 50 years</div>
          <div class="mktplace-card-divider"></div>
          <div class="mktplace-card-arrow">
            <div class="home-bulk-downloads">Explore Bulk Downloads</div><img
              src="https://assets.website-files.com/5dcda05af8a683ebc79e4c3f/5dceb5047dad126789537df6_arrow_purple_71EEBF.svg"
              alt="" class="home-bulk-downloads-arrow">
          </div>
        </a><a data-w-id="af77fb27-acd3-ee4f-de98-1d608ddc93af" href="https://intrinio.com/market/widgets"
          class="home-mktplace-wrapper w-inline-block"><img
            src="https://assets.website-files.com/5dcda05af8a683ebc79e4c3f/5dceb46c6467915b18a128ce_widget_icon.svg"
            alt="" class="marketplace-hero-icon">
          <h2 class="home-mktplace-heading">Widgets Marketplace</h2>
          <div class="home-mktplace-description">Visualize data with tools like price charts and ticker tapes</div>
          <div class="mktplace-card-divider"></div>
          <div class="mktplace-card-arrow">
            <div class="home-widgets">Explore Widgets</div><img
              src="https://assets.website-files.com/5dcda05af8a683ebc79e4c3f/5dceb33e7dad1210cd536ca9_arrow_green_71EEBF.svg"
              alt="" class="home-widgets-arrow">
          </div>
        </a></div>
    </div>
  </div>
  <div class="content-section extra-margin-top-100">
    <div class="content-container-1122">
      <div class="content-container-1122">
        <h4 class="trusted-brands-head">The most trusted brands are using Intrinio data</h4>
      </div>
      <div class="w-layout-grid customer-logo-grid home2"><img
          src="https://assets.website-files.com/5be49b31efe23f3c85cc6028/5d112cb46761206f82e462bb_logo-harvard.png"
          id="w-node-1d608ddc93c1-3a45c102" alt="" class="customer-logos"><img
          src="https://assets.website-files.com/5be49b31efe23f3c85cc6028/5d112cb4676120e052e462b3_logo-kaggle.png"
          id="w-node-1d608ddc93c2-3a45c102" alt="" class="customer-logos"><img
          src="https://assets.website-files.com/5be49b31efe23f3c85cc6028/5d112cb4676120e7f8e462b5_logo-market-beat.png"
          id="w-node-1d608ddc93c3-3a45c102" alt="" class="customer-logos"><img
          src="https://assets.website-files.com/5be49b31efe23f3c85cc6028/5d112cb46761203bb1e462b1_logo-hubspot.png"
          id="w-node-1d608ddc93c4-3a45c102" alt="" class="customer-logos"></div>
    </div>
  </div>
  <div class="divider-line-section">
    <div class="divider-line-wrap w-clearfix">
      <div class="line-divider-1 hide-mobile"></div>
      <div class="line-divider-2 hide-mobile"></div>
    </div>
  </div>
  <div class="content-section no-margin-top light-blue top-50-bottom-75">
    <div class="content-container-1122">
      <h2 class="sub-heading-new align-center"><span class="light">Free your</span> financial data<span
          class="light"></span></h2>
      <p class="block-descript margin-bottom">Data powers innovation – but only when it’s accessible, flexible, and
        reliable. That’s why we’re shaking up the fintech industry with data that’s meticulously cleansed and
        standardized, available in multiple access methods for developers and non-developers, and fully covered with
        free support for all customers. We go beyond data provider to data partner. Scroll down to see how we support
        your full range of data needs.</p>
      <div class="_50-50-content-columns neg-right-margin w-row">
        <div class="left-content-column top-align padding-top-right w-col w-col-6 w-col-small-small-stack"><img
            src="https://assets.website-files.com/5be49b31efe23f3c85cc6028/5ded759acad21709f6ddde5f_api_marketplace_outline.svg"
            alt="">
          <h2 class="sub-heading-new-3">Financial Data <span class="light">Marketplace</span><span class="light"></span>
          </h2>
          <p class="dark-descript"><strong class="semibold-text">If you need:</strong> real-time, intraday, EOD &amp;
            historical data on a subscription basis<br><br><strong class="semibold-text">Perfect for:</strong> building
            and running applications, informing investment strategies</p><a
            href="https://intrinio.com/financial-data-marketplace" class="foundation-blue-button-solid w-button">Explore
            Financial Data</a>
        </div>
        <div class="right-content-column w-col w-col-6 w-col-small-small-stack">
          <div class="w-layout-grid home-mktplace-cat-grid">
            <div class="full-mktplace-link-wrapper"><a
                href="https://intrinio.com/financial-data-marketplace/prices#stq=intrinio&amp;stp=1"
                class="home-mkt-link-wrapper first-link w-inline-block">
                <div class="marketplace-link-text-wrapper">
                  <div class="marketplace-link-head">Prices</div>
                  <div class="marketplace-link-body-2">Pricing data for various asset classes</div>
                </div><img
                  src="https://assets.website-files.com/5be49b31efe23f3c85cc6028/5df24a9a4bb8c8101fed493a_chevron_right_72C3F3.svg"
                  alt="" class="home-mktplace-link-chevron">
              </a>
              <div class="mktplace-link-divider"></div>
            </div>
            <div class="full-mktplace-link-wrapper"><a
                href="https://intrinio.com/financial-data-marketplace/financials-fundamental-analysis#stq=intrinio&amp;stp=1"
                class="home-mkt-link-wrapper w-inline-block">
                <div class="marketplace-link-text-wrapper">
                  <div class="marketplace-link-head">Financials</div>
                  <div class="marketplace-link-body-2">Financial statement data and fundamental analysis</div>
                </div><img
                  src="https://assets.website-files.com/5be49b31efe23f3c85cc6028/5df24a9a4bb8c8101fed493a_chevron_right_72C3F3.svg"
                  alt="" class="home-mktplace-link-chevron">
              </a>
              <div class="mktplace-link-divider"></div>
            </div>
            <div class="full-mktplace-link-wrapper"><a
                href="https://intrinio.com/financial-data-marketplace/ratings-estimates-projections#stq=intrinio&amp;stp=1"
                class="home-mkt-link-wrapper w-inline-block">
                <div class="marketplace-link-text-wrapper">
                  <div class="marketplace-link-head">Estimates</div>
                  <div class="marketplace-link-body-2">Ratings, estimates and projections</div>
                </div><img
                  src="https://assets.website-files.com/5be49b31efe23f3c85cc6028/5df24a9a4bb8c8101fed493a_chevron_right_72C3F3.svg"
                  alt="" class="home-mktplace-link-chevron">
              </a>
              <div class="mktplace-link-divider"></div>
            </div>
            <div class="full-mktplace-link-wrapper"><a
                href="https://intrinio.com/financial-data-marketplace/reference-data#stq=intrinio&amp;stp=1"
                class="home-mkt-link-wrapper w-inline-block">
                <div class="marketplace-link-text-wrapper">
                  <div class="marketplace-link-head">Reference</div>
                  <div class="marketplace-link-body-2">Reference &amp; metadata on financial instruments</div>
                </div><img
                  src="https://assets.website-files.com/5be49b31efe23f3c85cc6028/5df24a9a4bb8c8101fed493a_chevron_right_72C3F3.svg"
                  alt="" class="home-mktplace-link-chevron">
              </a>
              <div class="mktplace-link-divider"></div>
            </div>
            <div class="full-mktplace-link-wrapper"><a
                href="https://intrinio.com/financial-data-marketplace/macro-economic-industry#stq=intrinio&amp;stp=1"
                class="home-mkt-link-wrapper w-inline-block">
                <div class="marketplace-link-text-wrapper">
                  <div class="marketplace-link-head">Macro</div>
                  <div class="marketplace-link-body-2">Economic, industry and aggregated data</div>
                </div><img
                  src="https://assets.website-files.com/5be49b31efe23f3c85cc6028/5df24a9a4bb8c8101fed493a_chevron_right_72C3F3.svg"
                  alt="" class="home-mktplace-link-chevron">
              </a>
              <div class="mktplace-link-divider"></div>
            </div>
            <div class="full-mktplace-link-wrapper"><a
                href="https://intrinio.com/financial-data-marketplace/etf-holdings-analytics-metadata#stq=intrinio&amp;stp=1"
                class="home-mkt-link-wrapper w-inline-block">
                <div class="marketplace-link-text-wrapper">
                  <div class="marketplace-link-head">ETFs</div>
                  <div class="marketplace-link-body-2">Holdings, analytics and metadata for Exchange Traded Funds</div>
                </div><img
                  src="https://assets.website-files.com/5be49b31efe23f3c85cc6028/5df24a9a4bb8c8101fed493a_chevron_right_72C3F3.svg"
                  alt="" class="home-mktplace-link-chevron">
              </a>
              <div class="mktplace-link-divider"></div>
            </div>
            <div class="full-mktplace-link-wrapper"><a
                href="https://intrinio.com/financial-data-marketplace/events-news-corporate-actions#stq=intrinio&amp;stp=1"
                class="home-mkt-link-wrapper last w-inline-block">
                <div class="marketplace-link-text-wrapper">
                  <div class="marketplace-link-head">Events</div>
                  <div class="marketplace-link-body-2">News, corporate actions and events for publicly traded companies
                  </div>
                </div><img
                  src="https://assets.website-files.com/5be49b31efe23f3c85cc6028/5df24a9a4bb8c8101fed493a_chevron_right_72C3F3.svg"
                  alt="" class="home-mktplace-link-chevron">
              </a></div>
          </div>
        </div>
      </div>
      <div class="feat-product-wrapper-home">
        <h4 class="home-feat-products-head">Featured Products</h4>
        <div class="w-layout-grid home-found-vant-mktplace-grid"><a href="https://intrinio.com/core-market-data"
            data-w-id="af77fb27-acd3-ee4f-de98-1d608ddc9468"
            class="home-found-vant-mktplace-wrapper w-inline-block"><img
              src="https://assets.website-files.com/5be49b31efe23f3c85cc6028/5e1f826cf6494185092b73bb_US%20Core%20-%20Full%20Color.svg"
              alt="" class="home-found-icon">
            <div class="foundation-vantage-text-wrap-home">
              <h4 class="found-vant-title-text homepage-2">US&nbsp;Core <span class="light-gray">Market Data</span></h4>
              <div class="home-found-vant-subhead2">In-depth Dataset to Analyze US Equities</div>
            </div>
            <div class="foundation-vantage-mktplace-right">
              <div class="found-vant-view-grey">View</div>
              <div class="found-vant-chevron-wrapper"><img
                  src="https://assets.website-files.com/5be49b31efe23f3c85cc6028/5e3c865c6f2620c23f3376c2_grey-chevron.svg"
                  alt="" class="grey-chevron-icon"><img
                  src="https://assets.website-files.com/5be49b31efe23f3c85cc6028/5e3c86c6a56625935a1bef3f_chevron_right_5F6091.svg"
                  width="15" height="20" alt="" class="purple-chevron-icon-home"></div>
              <div class="home-found-vant-starting">Starting at</div>
              <div class="cost-wrapper">
                <div class="mkt-dollar-sign-vantage mkt-home">$</div>
                <div class="mkt-cost mkt-home">149</div>
                <div class="mkt-per-month">/mo</div>
              </div>
            </div>
          </a><a href="https://intrinio.com/advanced-analytics" data-w-id="af77fb27-acd3-ee4f-de98-1d608ddc9479"
            class="home-found-vant-mktplace-wrapper w-inline-block"><img
              src="https://assets.website-files.com/5be49b31efe23f3c85cc6028/5e1f7524b6083e4d64467ca3_US_Advanced_Analytics_sm.svg"
              alt="" class="home-vant-icon">
            <div class="foundation-vantage-text-wrap-home">
              <h4 class="found-vant-title-text homepage-2">US&nbsp;Advanced <span class="light-gray">Analytics</span>
              </h4>
              <div class="home-found-vant-subhead2">Competitive Financial Insights</div>
            </div>
            <div class="foundation-vantage-mktplace-right">
              <div class="home-found-vant-starting">Starting at</div>
              <div class="cost-wrapper">
                <div class="mkt-dollar-sign-vantage mkt-home">$</div>
                <div class="mkt-cost mkt-home">149</div>
                <div class="mkt-per-month">/mo</div>
              </div>
              <div class="found-vant-view-grey">View</div>
              <div class="found-vant-chevron-wrapper"><img
                  src="https://assets.website-files.com/5be49b31efe23f3c85cc6028/5e3c865c6f2620c23f3376c2_grey-chevron.svg"
                  alt="" class="grey-chevron-icon"><img
                  src="https://assets.website-files.com/5be49b31efe23f3c85cc6028/5e3c86c6a56625935a1bef3f_chevron_right_5F6091.svg"
                  width="15" height="20" alt="" class="purple-chevron-icon-home"></div>
            </div>
          </a></div>
      </div>
    </div>
  </div>
  <div class="divider-line-section">
    <div class="divider-line-wrap invert w-clearfix">
      <div class="line-divider-1 shorter"></div>
      <div class="line-divider-2"></div>
    </div>
  </div>
  <section class="content-section extra-margin-top-bottom-45 no-bottom-pad-mobile">
    <div id="bulk-downloads" class="content-container-1122">
      <div class="_50-50-content-columns w-row">
        <div class="left-content-column top-align w-col w-col-6">
          <div class="left-image-container-2"><img
              src="https://assets.website-files.com/5dcda05af8a683ebc79e4c3f/5dcefe695664440e994a0707_bulk_downloads_graphic.svg"
              alt="" class="image-68"></div>
        </div>
        <div class="right-content-column w-col w-col-6">
          <div class="right-text-wrapper padding-left"><img
              src="https://assets.website-files.com/5dcda05af8a683ebc79e4c3f/5dcf01a335dbb369acdf60e2_bulk_download_outline.svg"
              alt="">
            <h2 class="sub-heading-new-3">Bulk Downloads <span class="light">Marketplace</span><span
                class="light"></span><span class="light"></span></h2>
            <p class="dark-descript"><span class="semibold-text">If you need:</span> a one-time download of historical
              data dating back 5 - 50 years <br><br><span class="semibold-text">Perfect for:</span> training machine
              learning algorithms, backtesting theories</p><a
              href="https://product.intrinio.com/bulk-financial-data-downloads"
              class="foundation-purple-button-solid w-button">Explore Bulk Downloads</a>
          </div>
        </div>
      </div>
      <div class="w-layout-grid home-bulkdown-grid"><a
          href="https://product.intrinio.com/bulk-financial-data-downloads?view=20"
          class="home-downloads-card-wrapper w-inline-block">
          <div class="downloads-card-top-wrapper">
            <div class="downloads-card-text-wrapper-2">
              <div class="home-powered-by">Powered by Intrinio</div>
              <div class="downloads-card-title-2">US Stock Prices 50+ Years</div>
            </div><img
              src="https://assets.website-files.com/5dcda05af8a683ebc79e4c3f/5dcf041635dbb30ffedf810c_chevron_right_A273E8.svg"
              alt="" class="bulk-downloads-right-chevron">
          </div>
          <div class="downloads-card-bottom-wrapper">
            <div class="home-downloads-card-descript">Historical end of day (EOD) stock prices for all US public
              companies excluding over the counter (OTC) stocks.<br></div>
          </div>
        </a><a href="https://product.intrinio.com/bulk-financial-data-downloads?view=4"
          class="home-downloads-card-wrapper w-inline-block">
          <div class="downloads-card-top-wrapper">
            <div class="downloads-card-text-wrapper-2">
              <div class="home-powered-by">Powered by Intrinio</div>
              <div class="downloads-card-title-2">US Fundamentals 10+ Years</div>
            </div><img
              src="https://assets.website-files.com/5dcda05af8a683ebc79e4c3f/5dcf041635dbb30ffedf810c_chevron_right_A273E8.svg"
              alt="" class="bulk-downloads-right-chevron">
          </div>
          <div class="downloads-card-bottom-wrapper">
            <div class="home-downloads-card-descript">Historical financial statement data for all US publicly traded
              companies. Balance sheet, income statement, and statement of cash flows, as well as 120+ calculated
              fields, are included.</div>
          </div>
        </a><a href="https://product.intrinio.com/bulk-financial-data-downloads?view=31"
          class="home-downloads-card-wrapper w-inline-block">
          <div class="downloads-card-top-wrapper">
            <div class="downloads-card-text-wrapper-2">
              <div class="home-powered-by">Powered by Intrinio</div>
              <div class="downloads-card-title-2">International Executive Contact &amp; Compensation</div>
            </div><img
              src="https://assets.website-files.com/5dcda05af8a683ebc79e4c3f/5dcf041635dbb30ffedf810c_chevron_right_A273E8.svg"
              alt="" class="bulk-downloads-right-chevron">
          </div>
          <div class="downloads-card-bottom-wrapper">
            <div class="home-downloads-card-descript">Detailed current contact information (such as email address, role,
              phone number, etc.) and 4 years of compensation data (such as salary, stock options, bonuses, etc.)</div>
          </div>
        </a><a href="https://product.intrinio.com/bulk-financial-data-downloads?view=403"
          class="home-downloads-card-wrapper w-inline-block">
          <div class="downloads-card-top-wrapper">
            <div class="downloads-card-text-wrapper-2">
              <div class="home-powered-by">Powered by Intrinio</div>
              <div class="downloads-card-title-2">US&nbsp;Insider Transactions</div>
            </div><img
              src="https://assets.website-files.com/5dcda05af8a683ebc79e4c3f/5dcf041635dbb30ffedf810c_chevron_right_A273E8.svg"
              alt="" class="bulk-downloads-right-chevron">
          </div>
          <div class="downloads-card-bottom-wrapper">
            <div class="home-downloads-card-descript">Historical US insider transactions from the SEC Forms 3, 4, and 5
              from anyone who is a director, officer, or a 10%+ owner in the company.</div>
          </div>
        </a><a href="https://product.intrinio.com/bulk-financial-data-downloads?view=107"
          class="home-downloads-card-wrapper w-inline-block">
          <div class="downloads-card-top-wrapper">
            <div class="downloads-card-text-wrapper-2">
              <div class="home-powered-by">Powered by Intrinio</div>
              <div class="downloads-card-title-2">US&nbsp;Municipal Financials</div>
            </div><img
              src="https://assets.website-files.com/5dcda05af8a683ebc79e4c3f/5dcf041635dbb30ffedf810c_chevron_right_A273E8.svg"
              alt="" class="bulk-downloads-right-chevron">
          </div>
          <div class="downloads-card-bottom-wrapper">
            <div class="home-downloads-card-descript">US Municipality financial data for the 2017 fiscal year. Includes
              entity name and ID, along with items for debt, liabilities, revenues, etc., comprising a total of 46
              specific fields. Covers 2,945 US Municipalities.</div>
          </div>
        </a><a href="https://product.intrinio.com/bulk-financial-data-downloads?view=63"
          class="home-downloads-card-wrapper w-inline-block">
          <div class="downloads-card-top-wrapper">
            <div class="downloads-card-text-wrapper-2">
              <div class="home-powered-by">Powered by Intrinio</div>
              <div class="downloads-card-title-2">Forex Prices, 18+&nbsp;Years, Minute</div>
            </div><img
              src="https://assets.website-files.com/5dcda05af8a683ebc79e4c3f/5dcf041635dbb30ffedf810c_chevron_right_A273E8.svg"
              alt="" class="bulk-downloads-right-chevron">
          </div>
          <div class="downloads-card-bottom-wrapper">
            <div class="home-downloads-card-descript">Historical minute FX data with 18+ years of history as of the date
              of download. Includes market activity data, not sale data, so you will only see bids and asks.</div>
          </div>
        </a></div>
    </div>
  </section>
  <div class="content-section hide-on-mobile">
    <div class="content-container-1120">
      <div data-w-id="d25673f1-c5e1-0c42-fc0d-bd5aae4c3763" class="vendor-grid-wrapper"><a
          href="https://about.intrinio.com/partners" class="primary-button-2 hollow hover-blur w-button"
          style="display: none;">Become a Vendor</a>
        <div class="w-layout-grid vendor-logo-grid-new hide"><img
            src="https://assets.website-files.com/5d1cca5a2b2ad223dc48b5ea/5d1cca5a2b2ad216b748b6c5_logo-Nasdaq.png"
            id="w-node-bd5aae4c3767-ae4c3763" alt="" class="vendor-logos"><img
            src="https://assets.website-files.com/5d1cca5a2b2ad223dc48b5ea/5d1cca5a2b2ad2613448b6a7_logo-exchange-data.png"
            id="w-node-bd5aae4c3768-ae4c3763" alt="" class="vendor-logos"><img
            src="https://assets.website-files.com/5d1cca5a2b2ad223dc48b5ea/5d3e4688850abc2eafc4e227_5d1cccdb2b2ad270c548c95a_logo-vitaminds.png"
            id="w-node-bd5aae4c3769-ae4c3763" alt="" class="vendor-logos"><img
            src="https://assets.website-files.com/5d1cca5a2b2ad223dc48b5ea/5d1cca5a2b2ad2f17948b6be_logo-trade-alert.png"
            id="w-node-bd5aae4c376a-ae4c3763" alt="" class="vendor-logos"><img
            src="https://assets.website-files.com/5d1cca5a2b2ad223dc48b5ea/5d1cca5a2b2ad221c248b6b1_logo-quodd.png"
            id="w-node-bd5aae4c376b-ae4c3763" alt="" class="vendor-logos"><img
            src="https://assets.website-files.com/5d1cca5a2b2ad223dc48b5ea/5d1cca5a2b2ad23df248b6bd_logo-zacks.png"
            id="w-node-bd5aae4c376c-ae4c3763" alt="" class="vendor-logos"></div>
      </div>
    </div>
  </div>
  <div class="content-section padding-only no-mobile-pad"><img
      src="https://assets.website-files.com/5dcda05af8a683ebc79e4c3f/5dd29fd5a7c3d092c0f76db0_gradient-triangle.svg"
      alt="" class="absolute-gradient-1 right-side">
    <div class="div-block-71"><img
        src="https://assets.website-files.com/5be49b31efe23f3c85cc6028/5dd55ee71db7c4eb2512fbc1_Widget_graphic%402x.png"
        srcset="https://assets.website-files.com/5be49b31efe23f3c85cc6028/5dd55ee71db7c4eb2512fbc1_Widget_graphic%402x-p-500.png 500w, https://assets.website-files.com/5be49b31efe23f3c85cc6028/5dd55ee71db7c4eb2512fbc1_Widget_graphic%402x-p-800.png 800w, https://assets.website-files.com/5be49b31efe23f3c85cc6028/5dd55ee71db7c4eb2512fbc1_Widget_graphic%402x.png 1421w"
        sizes="(max-width: 767px) 100vw, 55vw" alt="" class="image-65"></div>
    <div class="content-container-1120 reverse-on-mobile">
      <div class="content-container-1122 content-left">
        <div class="left-content-wrapper shrink-to-42-new"><img
            src="https://assets.website-files.com/5dcda05af8a683ebc79e4c3f/5dcf1fcaf928e7d04b4e9d92_widget_icon_outline.svg"
            alt="">
          <h2 class="sub-heading-new-3">Widgets <span class="light">Marketplace</span><span class="light"></span><span
              class="light"></span></h2>
          <p class="dark-descript"><span class="semibold-text">If you need:</span> data visualization tools like price
            charts and ticker tapes<br><br><span class="semibold-text">Perfect for: </span>enhancing content on investor
            relations and other financial websites and blogs</p><a href="https://intrinio.com/market/widgets"
            class="widgets-green-button-solid w-button">Explore Widgets</a>
        </div>
      </div>
    </div>
  </div>
  <div class="divider-line-section">
    <div class="divider-line-wrap w-clearfix">
      <div class="line-divider-1 hide-mobile"></div>
      <div class="line-divider-2 hide-mobile"></div>
    </div>
  </div>
  <div class="content-section light-blue-new extra-padding">
    <div class="content-container-1120 fill-mobile">
      <div class="div-block-72"><img
          src="https://assets.website-files.com/5dcda05af8a683ebc79e4c3f/5dcf2015afa6edb374304136_custom_solutions_graphic.svg"
          alt=""></div>
      <div class="content-container-1122 content-right">
        <div class="right-content-wrapper home-services"><img
            src="https://assets.website-files.com/5dcda05af8a683ebc79e4c3f/5dcf265bedfe6a7ddb604d0a_custom_services_outline.svg"
            alt="">
          <h2 class="sub-heading-new-3">Custom Development <span class="light">Services</span><span
              class="light"></span><span class="light"></span><span class="light"></span></h2>
          <p class="dark-descript"><span class="semibold-text">If you need:</span> custom development for your
            application or platform<br>‍<br><span class="semibold-text">Perfect for:</span> building out your vision
            with Intrinio data</p>
          <div class="cta-bottom-wrapper"><a href="https://intrinio.com/signup"
              class="primary-button-new hero intrinio-hide w-button">Start For Free</a><a
              href="https://intrinio.com/custom-development-solutions"
              class="primary-button-new hero hollow new-large-hoome w-button">Explore Custom Services</a>
            <p class="small-text-hero-2 small-padding">Still not sure what you need? <a href="/?chat=Hello!"
                class="plaintext-link open_intercom">Just ask. </a><a href="/?chat=Hello!"
                class="link-5 open_intercom"></a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="divider-line-section">
    <div class="divider-line-wrap invert w-clearfix">
      <div class="line-divider-1 shorter"></div>
      <div class="line-divider-2"></div>
    </div>
  </div>
  <div class="content-section negative-top-margin">
    <div class="content-container-1122 fill-mobile">
      <div class="wyg-list-card">
        <div class="wyg-card-header-wrapper">
          <h2 class="wyg-heading">Why work with Intrinio?</h2>
          <div class="wyg-tagline">We can think of a few reasons:</div>
        </div>
        <div class="w-layout-grid wyg-grid-home">
          <div id="w-node-1d608ddc954b-3a45c102" class="wyg-item-wrapper"><img
              src="https://assets.website-files.com/5dcda05af8a683ebc79e4c3f/5dd2b77cee424662ca27ed35_target.svg" alt=""
              class="wyg-icon">
            <div class="wyg-text-home">All of our feeds are available through <span class="semibold-text">API and other
                flexible formats</span></div>
          </div>
          <div id="w-node-1d608ddc9551-3a45c102" class="wyg-item-wrapper"><img
              src="https://assets.website-files.com/5dcda05af8a683ebc79e4c3f/5dd2b77bd8e6f217aec7717b_codepen%205AC5A1.svg"
              alt="" class="wyg-icon">
            <div class="wyg-text-home">Our <span class="semibold-text">sandbox environment</span> allows you to test
              data before making a purchase</div>
          </div>
          <div id="w-node-1d608ddc9558-3a45c102" class="wyg-item-wrapper"><img
              src="https://assets.website-files.com/5dcda05af8a683ebc79e4c3f/5dd2b77ca7c3d031d4f8711d_eye.svg" alt=""
              class="wyg-icon">
            <div class="wyg-text-home">We offer<span class="semibold-text"> flexible access and licensing,
              </span>including redistribution rights for select feeds</div>
          </div>
          <div id="w-node-1d608ddc955f-3a45c102" class="wyg-item-wrapper"><img
              src="https://assets.website-files.com/5dcda05af8a683ebc79e4c3f/5dd2b77cef87f17786a6b074_book(x34)%205AC5A1.svg"
              alt="" class="wyg-icon">
            <div class="wyg-text-home">Our <span class="semibold-text">extensive documentation and SDKs </span>help you
              get up and running within minutes</div>
          </div>
          <div id="w-node-1d608ddc9566-3a45c102" class="wyg-item-wrapper"><img
              src="https://assets.website-files.com/5dcda05af8a683ebc79e4c3f/5dd2b77cd8e6f2ba66c7717d_users%205AC5A1.svg"
              alt="" class="wyg-icon">
            <div class="wyg-text-home">We boast a <span class="semibold-text">data quality assurance team</span> and
              built-in ticketing system for issues</div>
          </div>
          <div id="w-node-1d608ddc956d-3a45c102" class="wyg-item-wrapper"><img
              src="https://assets.website-files.com/5dcda05af8a683ebc79e4c3f/5dd2b77bc54c8805501bd2c6_message-square.svg"
              alt="" class="wyg-icon">
            <div class="wyg-text-home">You can take advantage of our <span class="semibold-text">killer customer
                service</span> via live chat, even on weekends</div>
          </div><a id="w-node-78a9fe5f61f0-3a45c102" data-w-id="c09e2f71-99a6-715b-9a90-78a9fe5f61f0"
            href="https://intrinio.com/why-intrinio/intrinio-advantage"
            class="green-arrow-chevron-link-new w-inline-block">
            <div class="green-arrow-chevron"></div>
            <div class="green-cta-text">Discover the Intrinio Advantage</div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
