.content {
  min-height: 250px;
  padding-top: 20px;
  margin-right: auto;
  margin-left: auto;
  .box {
    position: relative;
    border-top: 0;
    margin-bottom: 20px;
    width: 100%;
    background: #fff;
    border-radius: 0;
    padding: 10px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    .box-header.with-border {
      border-bottom-width: 1px;
      border-bottom-style: solid;
    }
    .box-header {
      color: #455a64;
      display: block;
      padding: 0.8rem 1.25rem;
      position: relative;
      border-bottom: 1px solid rgba(97, 106, 120, 0.07);
    }

    .box-body {
      padding: 1.25rem;
      border-radius: 0 0 0px 0px;
      -ms-flex: 1 1 auto;
      flex: 1 1 auto;
    }
  }
}
