<!-- Main Header-->
<div class="page-wrapper" style="overflow: hidden;">



  <nav id="ember472" class="page-7-5859d56-492l3f ember-view main-menu desktop-nav nav-menu closed hide-on-md hide-bg">
    <div class="bg-helper"></div>

    <header class="wrapper">
      <div id="ember481" style="touch-action: manipulation; -ms-touch-action: manipulation; cursor: pointer;"
        class="ember-view menu-toggle">
        <div class="container toggle-wrap">
          <div class="toggle isClosed">
            <div class="navicon"></div>
          </div>
        </div>
      </div>

      <h2 class="">
        <a id="ember489" href="/" style="touch-action: manipulation; -ms-touch-action: manipulation; cursor: pointer;"
          class="ember-view active">
          <!-- <div class="logo" style="touch-action: manipulation; -ms-touch-action: manipulation; cursor: pointer;"
            data-ember-action="496">
          </div> --> UPSTASH
        </a> </h2>

      <ul class="nav-items ">

        <li class="has-divider">
          <a id="ember7-5859d56-6ks00t" href="/invest/"
            style="touch-action: manipulation; -ms-touch-action: manipulation; cursor: pointer;"
            class="ember-view">Invest</a>
        </li>

        <li class="has-divider">
          <a id="ember7-d8e4d2e9f3-9gr4r8" href="/later/"
            style="touch-action: manipulation; -ms-touch-action: manipulation; cursor: pointer;"
            class="ember-view">Later</a>
        </li>

        <li class="has-divider">
          <a id="ember7-6d26904-m7v64m" href="/spend/"
            style="touch-action: manipulation; -ms-touch-action: manipulation; cursor: pointer;"
            class="ember-view">Spend</a>
        </li>

        <li class="has-divider">
          <a id="ember7-6f3c491-dt3614" href="/earn/foundmoney/"
            style="touch-action: manipulation; -ms-touch-action: manipulation; cursor: pointer;"
            class="ember-view">Earn</a>
        </li>

        <li class="has-divider">
          <a id="ember7-5859d56-0t4fct" href="https://grow.acorns.com/"
            style="touch-action: manipulation; -ms-touch-action: manipulation; cursor: pointer;"
            class="ember-view">Grow</a>
        </li>

        <li class="has-divider">
          <a id="ember7-5859d56-5x2d38" href="/pricing/"
            style="touch-action: manipulation; -ms-touch-action: manipulation; cursor: pointer;"
            class="ember-view">Pricing</a>
        </li>

      </ul>

      <aside class="user-actions">
        <ul>


          <li class="">
            <a class="log-in" style="touch-action: manipulation; -ms-touch-action: manipulation; cursor: pointer;"
              routerLink="/login" data-ember-action="570" title="">
              Log in
            </a>
          </li>
          <li>
            <a class="sign-up" style="touch-action: manipulation; -ms-touch-action: manipulation; cursor: pointer;"
              routerLink="/signup" data-ember-action="579" title="">
              Get started
            </a>
          </li>
          <li>
            <a class="download" style="touch-action: manipulation; -ms-touch-action: manipulation; cursor: pointer;"
              href="https://signup.acorns.com" data-ember-action="580">
              Download
            </a>
          </li>

        </ul>
      </aside>
    </header>
  </nav>

  <nav id="ember961" class="ember-view main-menu nav-menu mobile-nav show-on-md closed hide-bg">
    <div class="bg-helper"></div>

    <header class="wrapper">
      <!--  <div id="ember962" style="touch-action: manipulation; -ms-touch-action: manipulation; cursor: pointer;"
        class="ember-view menu-toggle">
        <div class="container toggle-wrap">
          <div class="toggle isClosed">
            <div class="navicon"></div>
          </div>
        </div>

      </div> -->

      <h2 class="">
        <a id="ember963" href="/" style="touch-action: manipulation; -ms-touch-action: manipulation; cursor: pointer;"
          class="ember-view">
          <!-- <div class="logo" style="touch-action: manipulation; -ms-touch-action: manipulation; cursor: pointer;"
            data-ember-action="964">
          </div> -->
          UPSTASH
        </a> </h2>


      <aside class="user-actions">
        <ul>
          <li>
            <a class="download" style="touch-action: manipulation; -ms-touch-action: manipulation; cursor: pointer;"
              routerLink="/login" data-ember-action="583" style="background-color: white; color: black;">
              User Login
            </a>
          </li>

        </ul>
      </aside>
    </header>
  </nav>


  <router-outlet></router-outlet>

  <footer class="footer">
    <!-- Footer Top Area Starts -->
    <div class="top-footer">
      <div class="container">
        <div class="row">
          <!-- Footer Widget Starts -->
          <div class="col-sm-8 col-md-4">
            <div class="row">
              <div class="col-md-6">
                <h4>Our Company</h4>
                <div class="menu" style="font-size: 17px;">
                  <ul>
                    <li><a routerLink="/">Home</a></li>
                    <li><a routerLink="/About">About</a></li>
                    <li><a routerLink="/contact">Contact</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-md-6">
                <div class="col-sm-4 col-md-2">
                  <h4>Help &amp; Support</h4>
                  <div class="menu" style="font-size: 17px;">
                    <ul>
                      <li><a routerLink="/Faq">FAQ</a></li>
                      <li><a routerLink="/signup">Register</a></li>
                      <li><a routerLink="/login">Login</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Footer Widget Ends -->
          <!-- Footer Widget Starts -->

          <!-- Footer Widget Ends -->
          <!-- Footer Widget Starts -->
          <div class="col-sm-4 col-md-3">
            <h4>Contact Us </h4>
            <div class="contacts" style="font-size: 17px;">
              <div style="color: #999; padding-bottom: 10px">
                <span>support@cryptofinancer.trade</span>
              </div>
              <div style="color: #999; padding-bottom: 10px">
                <span>+442038087804</span>
              </div>
              <div style="color: #999; padding-bottom: 10px">
                <span>1 Quality Court City of London WC2A 1HR, UK</span>
              </div>
              <div style="color: #999; padding-bottom: 10px">
                <span>mon-sat 08am ⇾ 05pm</span>
              </div>
            </div>
            <!-- Social Media Profiles Starts -->
            <div class="social-footer">
              <ul>
                <li><a target="_blank"><i class="fa fa-facebook"></i></a></li>
                <li><a target="_blank"><i class="fa fa-twitter"></i></a></li>
                <li><a target="_blank"><i class="fa fa-google-plus"></i></a></li>
                <li><a target="_blank"><i class="fa fa-linkedin"></i></a></li>
              </ul>
            </div>
            <!-- Social Media Profiles Ends -->
          </div>
          <!-- Footer Widget Ends -->
          <!-- Footer Widget Starts -->
          <div class="col-sm-12 col-md-5">
            <!-- Facts Starts -->
            <div class="facts-footer">
              <div>
                <h5>$198.76B</h5>
                <span style="font-size: 17px;">Market cap</span>
              </div>
              <div>
                <h5>243K</h5>
                <span style="font-size: 17px">daily transactions</span>
              </div>
              <div>
                <h5>369K</h5>
                <span style="font-size: 17px">active accounts</span>
              </div>
              <div>
                <h5>127</h5>
                <span style="font-size: 17px">supported countries</span>
              </div>
            </div>
            <!-- Facts Ends -->
            <hr>
            <!-- Supported Payment Cards Logo Starts -->
            <div class="payment-logos">
              <h4 class="payment-title">supported payment methods</h4>
              <img src="https://pngimg.com/uploads/bitcoin/bitcoin_PNG41.png" alt="bitcoin">
              <img src="https://www.cryptocompare.com/media/20646/eth_logo.png" alt="etherum">
              <img src="https://www.cryptocompare.com/media/35309662/ltc.png" alt="litecoin">
              <img src="https://fxbitxtra.com/html/accrue/img/payment-4.png" alt="">
              <img src="https://pngimg.com/uploads/mastercard/mastercard_PNG24.png" alt="mastercard">
              <img src="https://pngimg.com/uploads/visa/visa_PNG32.png" alt="visa">



            </div>
            <!-- Supported Payment Cards Logo Ends -->
          </div>
          <!-- Footer Widget Ends -->
        </div>
      </div>
    </div>
    <!-- Footer Top Area Ends -->
    <!-- Footer Bottom Area Starts -->
    <!--  <div class="bottom-footer">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    
                    <p class="text-center">Copyright © 2020 Trade online All Rights Reserved | Created with Love by <a href="https://web.facebook.com/clas.mezue" target="_blank">Mezue Jay Clasie</a></p>
                    
                </div>
            </div>
        </div>
    </div> -->
    <!-- Footer Bottom Area Ends -->
  </footer>
  <div id="mobile-floating-action-button">
    <div id="floating-action-button-track" class="floating-action-button-wrapper md391-track"
      style="display: block; bottom: 0px;">
      <button class="floating-action-button"
        onclick="window.location.href = 'https://app.adjust.com/2bfkli_luqqxi?fallback=http%3A%2F%2Fsignup.acorns.com/'"
        data-ember-action="580">Get started</button>
    </div>
  </div>








</div>
