@import "../../../../assets/css/oak.scss";
.footer {
  background: #153586;
  h4,
  h5,
  h6 {
    color: white !important;
  }
}
.footer .top-footer {
  padding: 60px 0 50px;
}
.footer .top-footer .menu ul {
  list-style-type: none;
}
.footer .top-footer ul {
  padding: 0;
}
.footer .top-footer .menu ul li {
  margin-bottom: 5px;
}
.footer .top-footer .menu ul li a {
  text-transform: uppercase;
  color: #999;
  font-size: 13px;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  transition: 0.1s;
}
.footer.top-footer.contacts span {
  color: #999;
}
.facts-footer > div {
  width: 49%;
  display: inline-block;
}
.facts-footer > div:first-child h5,
.facts-footer > div:nth-child(2) h5 {
  margin-top: 0;
}
.facts-footer > div span {
  text-transform: uppercase;
  font-size: 12px;
  color: #999;
}
.footer .top-footer h4.payment-title {
  color: #999;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 5px;
}
.payment-logos img {
  width: 30px;
  margin-right: 5px;
}
.footer .bottom-footer p {
  margin: 0;
  font-size: 13px;
  border-top: 1px solid #222;
  padding: 13px 0;
}
.footer .bottom-footer p a {
  color: #999;
}
a:link,
a:hover,
a:visited {
  text-decoration: none;
}
.col-xs-12 {
  width: 100%;
}
.footer .top-footer .social-footer {
  margin: 0 0 12px;
}
.footer .top-footer .social-footer ul {
  list-style-type: none;
}
.footer .top-footer ul {
  padding: 0;
}
.footer .top-footer .social-footer ul li:first-child {
  margin-left: 0;
}
.footer .top-footer .social-footer ul li {
  display: inline-block;
  margin: 0 3px;
}
.footer .top-footer .social-footer ul li a {
  display: block;
  color: #ccc;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  font-size: 13px;
  line-height: 28px;
  text-align: center;
  background: #1d1d1d;
  transition: 0.1s;
}
a:link,
a:hover,
a:visited {
  text-decoration: none;
}

/// cal to action

.call-action-all {
  padding: 0;
  position: relative;
  background: url(/assets/images/background/20.png);
  background-size: cover;
  background-position: center center;
}
.call-action-all .call-action-all-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 60px 0 95px;
}
.action-text {
  text-align: center !important;
}
.action-text h2 {
  margin: 15px 0 23px;
  font-size: 30px;
  color: #fff;
  font-weight: 800;
  text-transform: uppercase;
}
.action-text p {
  font-size: 21px;
  color: #ddd;
}
.col-xs-12 {
  width: 100%;
}
.call-action-all .action-btn .btn-primary {
  font-size: 16px;
  padding: 13px 25px;
  max-width: 240px;
  margin: 0 auto;
  display: block;
  margin-top: 40px;
}
a:link,
a:hover,
a:visited {
  text-decoration: none;
}
.btn-primary {
  border: 0;
  border-radius: 0;
  padding: 12px 30px;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  transition: 0.1s;
  outline: 0;
  box-shadow: none;
  font-family: "Open Sans", sans-serif;
}
.call-action-all:before {
  right: 50%;
  border-right: 125px solid transparent;
}
.call-action-all:after,
.call-action-all:before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 50%;
  z-index: 100;
  border-bottom: 30px solid #153586;
  -moz-transform: rotate(0.000001deg);
  -webkit-transform: rotate(0.000001deg);
  -o-transform: rotate(0.000001deg);
  -ms-transform: rotate(0.000001deg);
  transform: rotate(0.000001deg);
}
.call-action-all:after {
  left: 50%;
  border-left: 125px solid transparent;
}
.call-action-all:after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 50%;
  z-index: 100;
  border-bottom: 30px solid #153586;
  -moz-transform: rotate(0.000001deg);
  -webkit-transform: rotate(0.000001deg);
  -o-transform: rotate(0.000001deg);
  -ms-transform: rotate(0.000001deg);
  transform: rotate(0.000001deg);
}
.text-center {
  text-align: center !important;
}
.title-head-subtitle p:after {
  position: absolute;
  content: "";
  height: 2px;
  left: -50px;
  top: 13px;
  width: 30px;
  background: #12326b;
}
.title-head-subtitle p:before {
  position: absolute;
  content: "";
  height: 2px;
  right: -50px;
  top: 13px;
  width: 30px;
  background: #12326b;
}

#myChart {
  padding: 10px;
}
.caro h4 {
  position: relative;
  color: #222222;
  font-size: 16px;
  font-style: italic;
  line-height: 1.8em;
}
.caro img {
  border-radius: 50%;
  width: 76px;
  height: 76px;
}
